/*
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
*/
/* .rotate-image {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.rotate-image {
  animation: rotation 4s infinite linear;
  transform-origin: left center;
}

@keyframes rotation {
  from {
    transform: rotateХ(0deg);
  }
  to {
    transform: rotateХ(360deg);
  }
}
